export POSTGRES_HOST=localhost 
export POSTGRES_PORT=5432 
export POSTGRES_USER=cheops 
export POSTGRES_PASSWORD=this_is_sparta 
export POSTGRES_DATABASE=cheops 
export DB_POOL_STRIPES=1 
export DB_POOL_IDLE_TIME=30 
export DB_POOL_RESOURCE_PER_STRIPE=10 
export EMAIL_SERVER_PORT=8000
export SMTP_SERVER=smtp.yandex.ru
export SMTP_USER_NAME="$SMTPUSERNAME"
export SMTP_USER_EMAIL="$SMTPUSEREMAIL"
export SMTP_USER_PASSWORD="$SMTPUSERPASSWORD"
